/* @import url('https://fonts.cdnfonts.com/css/poppins'); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;                                            
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url(asset/bg.jpg);
    background-position: center;
    background-size: cover;
    /* background-color: #7e7802; */
}

/* Main container */
.wrapper{
    width: 500px;
    background-color:#f3ef9b ;
    padding: 15px;
    overflow: auto;
    height: 70vh;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Input feild */
.wrapper .task-input{
    width: 100%;
    position: relative;
    height: 50px;
   
    
}
.wrapper .task-input i{
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 150%;
}

.wrapper .task-input input{
    height: 100%;
    width: 100%;
    border: none;
    outline: 0;
    padding-left: 45px;
    color: black;
    /* position: fixed; */
    
    font-weight: 700;
}

/* control section for showing status of given data */
.wrapper .controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


/*  for filtring status of given data */


.wrapper .controls .filter{
 width: 100%;
 margin-top: 10px;
}

.wrapper .controls .filter span{
    margin-left: 20px;
    color: black;
    cursor: pointer;
    text-transform: capitalize;
}

.wrapper .controls .filter span.active{
    margin-left: 20px;
    color: black;
    cursor: pointer;
}


/* clearing all */
.wrapper .controls .clear-all{
    border: 0;
    outline: 0;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
    border-radius: 50px;
   
}

/* for showing data */
.wrapper .task-box{
 margin-top: 15px;
}

.wrapper .task-box .task-list{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px  solid rgb(9, 2, 105);
    height: 60px;
}

.wrapper .task-box .task-list:last-child{
    border-bottom: 0px solid rgb(9, 2, 105);
}

/* for marking task is completed or not */
.wrapper .task-box .task-list label{
 display: flex;
}

.wrapper .task-box .task-list label input{
    margin-right: 10px;
}

.wrapper .task-box .task-list label p{
    user-select: none;
    color: black;
}

/* telling us task is completed */
.wrapper .task-box .task-list label p.checked-task{
 /* text-decoration: line-through; */
}

/* here we can edit and delet */
.wrapper .task-box .task-list .settings{
   cursor: pointer;
   position: relative;
}


.wrapper .task-box .task-list .settings i{
    font-size: 140%;
    color: black;
}

/* edit and delete selection */
.wrapper .task-box .task-list .settings .edit-menu{
    background-color: white;
    position: absolute;
    top: 30%;
    left: -200%;
    width: 150px;
    z-index: 2;
    transform: scale(0);
    transition: transform 0.4s;
    transform-origin: top left;
}

.wrapper .task-box .task-list .settings .edit-menu.show{
    transform: scale(1);
  }

.wrapper .task-box .task-list .settings:hover .edit-menu{
    transform: scale(1);
}
.wrapper .task-box .task-list .settings .edit-menu li{
    list-style: none;
    padding: 10px 15px;
    font-size: 16px;
    height: 50px;
    z-index: 1;
}

.wrapper .task-box .task-list .settings .edit-menu li:hover{
    background-color: black;
    color: white;
}
.wrapper .task-box .task-list .settings .edit-menu li:hover i{
    
    color: white;
}


h1{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #312b72;
    text-shadow: 1px 1px 1px black;
  }
  
  /* doing responsive */


  @media only screen and (max-width:477px) {
    .wrapper .controls .filter span{
        margin-left: 9px;
        font-size: 12px;
    }

    .wrapper .controls .filter span.active{
        margin-left: 9px;
        font-size: 12px;
    }

    h1{
        font-size: 20px;
    }

    /* edit and delete selection */
.wrapper .task-box .task-list .settings .edit-menu{
    background-color: white;
    position: absolute;
    top: 30%;
    left: -300%;
    width: 100px;
   
}


}